<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Progressbar - Polish Week @wandoulabs</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/app.css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Special+Elite|Roboto:100,300,400,500,700,900">
</head>
<body>
    <div id="progress">
        <div class="planet" id="planet-top"></div>
        <div class="planet" id="planet-center"></div>
        <div class="planet" id="planet-bottom"></div>
        <div class="planet expand" id="planet-left">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="planet expand" id="planet-right">
            <span></span>
        </div>

        <div id="progress-cont"></div>

    </div>


    <script type="text/template" id="task-list-tpl">
        <div id="header">
            <div class="title">Polish Week - Mission Completed</div>
            <div class="tasks"><%= finished %> / <%= total %></div>
        </div>
        <% if (tasks.length > 0 ) { %>
            <ol id="task-list">
                <% _.each(tasks, function(task) { %>
                    <li>
                        <div class="task-title">
                            <span><%= task.name %><span>
                        </div>
                        <ul>
                        <% _.each(task.members, function(member) { %>
                            <li>
                                <h4 class="member-name"><%= member.name %></h4>
                                <div class="avatar-wrap">
                                    <span class="avatar" style="background-image:url(<%= member.avatar %>)"></span>
                                </div>
                            </li>
                        <% }); %>
                        </ul>
                    </li>
                <% }) %>
            </ol>
        <% } else { %>
            <div id="no-data">
                <h2 class="rw-sentence">
                    <span>Polish Week is coming</span>
                    <br />
                    <span>你</span>
                    <div class="rw-words rw-words-1">
                        <span>看山</span>
                        <span>看水</span>
                        <span>看天</span>
                        <span>看地</span>
                        <span>看江河湖海</span>
                        <span>看日月星辰</span>
                    </div>
                    <br />
                    <span>发现</span>
                    <div class="rw-words rw-words-2">
                        <span>汪汪汪</span>
                        <span>喵喵喵</span>
                        <span>叽叽叽</span>
                        <span>嘟嘟嘟</span>
                        <span>噼里啪啦~</span>
                        <span>稀里哗啦~</span>
                    </div>
                </h2>
            </div>
        <% } %>
    </script>

    <script src="javascripts/jquery.min.js"></script>
    <script src="javascripts/underscore-min.js"></script>
    <script src="javascripts/progress.js"></script>
</body>
</html>