<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Progressbar - Polish Week @wandoulabs</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/app.css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Special+Elite|Roboto:100,300,400,500,700,900">
</head>
<body>
    <div id="progress">
        <div class="planet" id="planet-top"></div>
        <div class="planet" id="planet-center"></div>
        <div class="planet" id="planet-bottom"></div>
        <div class="planet" id="planet-left"></div>
        <div class="planet" id="planet-right"></div>

        <div id="progress-cont"></div>

    </div>


    <script type="text/template" id="task-list-tpl">
        <div id="header">
            <div class="title">Polish Week - Mission Completed</div>
            <div class="tasks"><%= finished %> / <%= total %></div>
        </div>
        <ol id="task-list">
        <% _.each(tasks, function(task) { %>
            <li>
                <div class="task-title">
                    <span><%= task.name %><span>
                </div>
                <ul>
                <% _.each(task.members, function(member) { %>
                    <li>
                        <h4 class="member-name"><%= member.name %></h4>
                        <div class="avatar-wrap">
                            <span class="avatar" style="background-image:url(<%= member.avatar %>)"></span>
                        </div>
                    </li>
                <% }); %>
                </ul>
            </li>
        <% }); %>
        </ol>
    </script>

    <script src="javascripts/jquery.min.js"></script>
    <script src="javascripts/underscore-min.js"></script>
    <script src="javascripts/progress.js"></script>
</body>
</html>