/* replace webikt vendor prefix to @include
-webkit-(.*)?:\s(.*?); -> @include \1(\2);
*/
/* line 21, ../sass/app.scss */
* {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* line 27, ../sass/app.scss */
html,
body {
  height: 100%;
  width: 100%;
}

/* line 33, ../sass/app.scss */
body {
  position: relative;
  overflow: hidden;
  background: #362c53 url(../images/bg-progressbar.jpg) center center no-repeat;
  background-size: cover;
  font: 14px /1.8 "Roboto", "Lantinghei SC", "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 41, ../sass/app.scss */
.stars,
.meteor,
#planet-top,
#planet-center,
#planet-bottom,
#planet-left,
#planet-right,
#bridge,
.ufo,
.steps {
  position: absolute;
  top: 50%;
  left: 50%;
}

/* line 56, ../sass/app.scss */
.star-1 {
  width: 15px;
  height: 15px;
  margin: -300px 0 0 -160px;
  border-radius: 50%;
  box-shadow: 0 0 30px #fed486;
  background: #fed486;
}

/* line 67, ../sass/app.scss */
.star-2 {
  width: 10px;
  height: 10px;
  margin: -200px 0 0 -220px;
  border-radius: 50%;
  box-shadow: 0 0 30px #ff7977;
  background: #ff7977;
}

/* line 78, ../sass/app.scss */
.star-3 {
  -moz-animation: glint 7s 3s infinite ease-in-out;
  -webkit-animation: glint 7s 3s infinite ease-in-out;
  animation: glint 7s 3s infinite ease-in-out;
  width: 20px;
  height: 20px;
  margin: 10px 0 0 -40px;
  border-radius: 50%;
  box-shadow: 0 0 30px #1ad5c8;
  background: #1ad5c8;
}

/* line 89, ../sass/app.scss */
.star-4 {
  width: 15px;
  height: 15px;
  margin: 280px 0 0 -120px;
  border-radius: 50%;
  box-shadow: 0 0 30px #fed486;
  background: #fed486;
}

/* line 100, ../sass/app.scss */
.star-5 {
  width: 17px;
  height: 17px;
  margin: 300px 0 0 480px;
  border-radius: 50%;
  box-shadow: 0 0 30px #ffa284;
  background: #ffa284;
}

/* line 111, ../sass/app.scss */
.star-6 {
  width: 22px;
  height: 22px;
  margin: 290px 0 0 30px;
  border-radius: 50%;
  box-shadow: 0 0 30px #ff227b;
  background: #ff227b;
}

/* line 122, ../sass/app.scss */
.star-7 {
  width: 11px;
  height: 11px;
  margin: 360px 0 0 240px;
  border-radius: 50%;
  box-shadow: 0 0 30px #ffa284;
  background: #ffa284;
}

/* line 133, ../sass/app.scss */
.star-8 {
  width: 26px;
  height: 26px;
  margin: 320px 0 0 -320px;
  border-radius: 50%;
  box-shadow: 0 0 30px #736b99;
  background: #736b99;
}

/* line 145, ../sass/app.scss */
.meteor {
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  width: 261px;
  height: 205px;
  margin: 0;
  background: url(../images/meteor.png) center center no-repeat;
}

/* line 154, ../sass/app.scss */
.meteor-1 {
  top: -335px;
  right: -261px;
  left: auto;
}

/* line 160, ../sass/app.scss */
.meteor-2 {
  width: 130px;
  height: 102px;
  top: 0px;
  right: -361px;
  left: auto;
  background-size: cover;
}

/* line 169, ../sass/app.scss */
.meteor-1.fly {
  -moz-animation: meteor-fly 12s 1s infinite ease-in-out;
  -webkit-animation: meteor-fly 12s 1s infinite ease-in-out;
  animation: meteor-fly 12s 1s infinite ease-in-out;
}

/* line 173, ../sass/app.scss */
.meteor-2.fly {
  -moz-animation: meteor-fly 9s 5s infinite ease-in-out;
  -webkit-animation: meteor-fly 9s 5s infinite ease-in-out;
  animation: meteor-fly 9s 5s infinite ease-in-out;
}

/* line 177, ../sass/app.scss */
#planet-top {
  width: 288px;
  height: 157px;
  margin: -380px 0 0 -180px;
  background: url(../images/planet-top.png) center center no-repeat;
}

/* line 184, ../sass/app.scss */
#planet-center {
  width: 196px;
  height: 196px;
  margin: -60px 0 0 -10px;
  background: url(../images/planet-center.png) center center no-repeat;
}

/* line 191, ../sass/app.scss */
#planet-bottom {
  width: 284px;
  height: 216px;
  margin: 240px 0 0 -700px;
  background: url(../images/planet-bottom.png) center center no-repeat;
}

/* line 198, ../sass/app.scss */
#planet-left {
  width: 928px;
  height: 928px;
  margin: -720px 0 0 -1100px;
  background: url(../images/planet-left.png) center center no-repeat;
}

/* line 205, ../sass/app.scss */
#planet-right {
  width: 568px;
  height: 568px;
  margin: -280px 0 0 350px;
  background: url(../images/planet-right.png) center center no-repeat;
}

/* line 213, ../sass/app.scss */
.expand span {
  -moz-border-radius: 500px;
  -webkit-border-radius: 500px;
  border-radius: 500px;
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
  -moz-animation: expand 5s ease 0s infinite;
  -webkit-animation: expand 5s ease 0s infinite;
  animation: expand 5s ease 0s infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -2;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
}
/* line 226, ../sass/app.scss */
.expand span:nth-child(2) {
  -moz-animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
/* line 230, ../sass/app.scss */
.expand span:nth-child(3) {
  -moz-animation-delay: 1.2s;
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}
/* line 234, ../sass/app.scss */
.expand span:nth-child(4) {
  -moz-animation-delay: 1.8s;
  -webkit-animation-delay: 1.8s;
  animation-delay: 1.8s;
}

/* line 240, ../sass/app.scss */
#planet-left span {
  width: 800px;
  height: 800px;
  margin: -430px 0 0 -430px;
  border: 30px solid #65376b;
}

/* line 247, ../sass/app.scss */
#planet-right span {
  -moz-animation: expand 5s ease 3s infinite;
  -webkit-animation: expand 5s ease 3s infinite;
  animation: expand 5s ease 3s infinite;
  width: 500px;
  height: 500px;
  margin: -270px 0 0 -270px;
  border: 20px solid #2d4b64;
}

/* line 257, ../sass/app.scss */
#bridge {
  width: 1071px;
  height: 518px;
  margin: -159px 0 0 -536px;
  background: url(../images/bridge.png) center center no-repeat;
}

/* line 265, ../sass/app.scss */
.ufo {
  position: relative;
  width: 184px;
  height: 243px;
  margin: -280px 0 0 -680px;
  background-position: 0 0;
  background-repeat: no-repeat;
  -moz-transform: translate(0, -5px);
  -ms-transform: translate(0, -5px);
  -webkit-transform: translate(0, -5px);
  transform: translate(0, -5px);
}

/* line 275, ../sass/app.scss */
.ufo h2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 14px;
  font-weight: normal;
}

/* line 287, ../sass/app.scss */
.ufo span {
  position: relative;
  display: inline-block;
  padding: 0 20px;
  background: #fff;
  border-radius: 10px;
  color: #333;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

/* line 306, ../sass/app.scss */
.ufo span:before {
  left: 10px;
  top: 100%;
  -moz-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -webkit-transform: rotate(-30deg);
  transform: rotate(-30deg);
  -moz-transform-origin: left top 50%;
  -ms-transform-origin: left top 50%;
  -webkit-transform-origin: left top 50%;
  transform-origin: left top 50%;
}

/* line 313, ../sass/app.scss */
.ufo span:after {
  right: 10px;
  top: 100%;
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
  -moz-transform-origin: right top 50%;
  -ms-transform-origin: right top 50%;
  -webkit-transform-origin: right top 50%;
  transform-origin: right top 50%;
}

/* line 320, ../sass/app.scss */
.steps {
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  -moz-transition: -webkit-transform 1s;
  -o-transition: -webkit-transform 1s;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
}

/* line 326, ../sass/app.scss */
.ufo-1 {
  background-image: url(../images/UFO-1.png);
  -moz-animation: floating 2s 0.1s infinite ease-in-out;
  -webkit-animation: floating 2s 0.1s infinite ease-in-out;
  animation: floating 2s 0.1s infinite ease-in-out;
  animation: floating 2s 0.1s infinite ease-in-out;
}

/* line 332, ../sass/app.scss */
.ufo-2 {
  background-image: url(../images/UFO-2.png);
  -moz-animation: floating 2s 0.3s infinite ease-in-out;
  -webkit-animation: floating 2s 0.3s infinite ease-in-out;
  animation: floating 2s 0.3s infinite ease-in-out;
  animation: floating 2s 0.2s infinite ease-in-out;
}

/* line 338, ../sass/app.scss */
.ufo-3 {
  background-image: url(../images/UFO-3.png);
  -moz-animation: floating 2s 0.5s infinite ease-in-out;
  -webkit-animation: floating 2s 0.5s infinite ease-in-out;
  animation: floating 2s 0.5s infinite ease-in-out;
  animation: floating 2s 0.3s infinite ease-in-out;
}

/* line 344, ../sass/app.scss */
.ufo-4 {
  background-image: url(../images/UFO-4.png);
  -moz-animation: floating 2s 0.8s infinite ease-in-out;
  -webkit-animation: floating 2s 0.8s infinite ease-in-out;
  animation: floating 2s 0.8s infinite ease-in-out;
  animation: floating 2s 0.4s infinite ease-in-out;
}

/* line 350, ../sass/app.scss */
.ufo-5 {
  background-image: url(../images/UFO-5.png);
  -moz-animation: floating 2s 1.2s infinite ease-in-out;
  -webkit-animation: floating 2s 1.2s infinite ease-in-out;
  animation: floating 2s 1.2s infinite ease-in-out;
  animation: floating 2s 0.5s infinite ease-in-out;
}

/* line 356, ../sass/app.scss */
.error-message {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 50px;
  color: #fff;
}

/* line 365, ../sass/app.scss */
.floating {
  -moz-animation: floating 2s 1.2s infinite ease-in-out;
  -webkit-animation: floating 2s 1.2s infinite ease-in-out;
  animation: floating 2s 1.2s infinite ease-in-out;
  animation: floating 2s 0.5s infinite ease-in-out;
}

/* line 370, ../sass/app.scss */
.step-0 {
  display: none;
}

/* line 374, ../sass/app.scss */
.step-1 {
  -moz-transform: translate(117px, 85px);
  -ms-transform: translate(117px, 85px);
  -webkit-transform: translate(117px, 85px);
  transform: translate(117px, 85px);
  z-index: 3;
}

/* line 379, ../sass/app.scss */
.step-2 {
  -moz-transform: translate(184px, 130px);
  -ms-transform: translate(184px, 130px);
  -webkit-transform: translate(184px, 130px);
  transform: translate(184px, 130px);
  z-index: 4;
}

/* line 384, ../sass/app.scss */
.step-3 {
  -moz-transform: translate(254px, 175px);
  -ms-transform: translate(254px, 175px);
  -webkit-transform: translate(254px, 175px);
  transform: translate(254px, 175px);
  z-index: 5;
}

/* line 389, ../sass/app.scss */
.step-4 {
  -moz-transform: translate(321px, 219px);
  -ms-transform: translate(321px, 219px);
  -webkit-transform: translate(321px, 219px);
  transform: translate(321px, 219px);
  z-index: 6;
}

/* line 394, ../sass/app.scss */
.step-5 {
  -moz-transform: translate(389px, 262px);
  -ms-transform: translate(389px, 262px);
  -webkit-transform: translate(389px, 262px);
  transform: translate(389px, 262px);
  z-index: 7;
}

/**/
/* line 400, ../sass/app.scss */
.step-6 {
  -moz-transform: translate(453px, 217px);
  -ms-transform: translate(453px, 217px);
  -webkit-transform: translate(453px, 217px);
  transform: translate(453px, 217px);
  z-index: 6;
}

/* line 405, ../sass/app.scss */
.step-7 {
  -moz-transform: translate(520px, 175px);
  -ms-transform: translate(520px, 175px);
  -webkit-transform: translate(520px, 175px);
  transform: translate(520px, 175px);
  z-index: 5;
}

/* line 410, ../sass/app.scss */
.step-8 {
  -moz-transform: translate(453px, 132px);
  -ms-transform: translate(453px, 132px);
  -webkit-transform: translate(453px, 132px);
  transform: translate(453px, 132px);
  z-index: 4;
}

/* line 415, ../sass/app.scss */
.step-9 {
  -moz-transform: translate(386px, 87px);
  -ms-transform: translate(386px, 87px);
  -webkit-transform: translate(386px, 87px);
  transform: translate(386px, 87px);
  z-index: 3;
}

/* line 420, ../sass/app.scss */
.step-10 {
  -moz-transform: translate(454px, 42px);
  -ms-transform: translate(454px, 42px);
  -webkit-transform: translate(454px, 42px);
  transform: translate(454px, 42px);
  z-index: 2;
}

/* line 425, ../sass/app.scss */
.step-11 {
  -moz-transform: translate(520px, 0px);
  -ms-transform: translate(520px, 0px);
  -webkit-transform: translate(520px, 0px);
  transform: translate(520px, 0px);
  z-index: 1;
}

/* line 430, ../sass/app.scss */
.step-12 {
  -moz-transform: translate(590px, -42px);
  -ms-transform: translate(590px, -42px);
  -webkit-transform: translate(590px, -42px);
  transform: translate(590px, -42px);
  z-index: 0;
}

/* line 435, ../sass/app.scss */
.step-13 {
  -moz-transform: translate(654px, 0px);
  -ms-transform: translate(654px, 0px);
  -webkit-transform: translate(654px, 0px);
  transform: translate(654px, 0px);
  z-index: 1;
}

/* line 440, ../sass/app.scss */
.step-14 {
  -moz-transform: translate(720px, 42px);
  -ms-transform: translate(720px, 42px);
  -webkit-transform: translate(720px, 42px);
  transform: translate(720px, 42px);
  z-index: 2;
}

/* line 445, ../sass/app.scss */
.step-15 {
  -moz-transform: translate(789px, 86px);
  -ms-transform: translate(789px, 86px);
  -webkit-transform: translate(789px, 86px);
  transform: translate(789px, 86px);
  z-index: 3;
}

/* line 450, ../sass/app.scss */
.step-16 {
  -moz-transform: translate(856px, 129px);
  -ms-transform: translate(856px, 129px);
  -webkit-transform: translate(856px, 129px);
  transform: translate(856px, 129px);
  z-index: 4;
}

/* line 455, ../sass/app.scss */
.step-17 {
  -moz-transform: translate(789px, 174px);
  -ms-transform: translate(789px, 174px);
  -webkit-transform: translate(789px, 174px);
  transform: translate(789px, 174px);
  z-index: 5;
}

/* line 460, ../sass/app.scss */
.step-18 {
  -moz-transform: translate(720px, 218px);
  -ms-transform: translate(720px, 218px);
  -webkit-transform: translate(720px, 218px);
  transform: translate(720px, 218px);
  z-index: 6;
}

/* line 465, ../sass/app.scss */
.step-19 {
  -moz-transform: translate(654px, 261px);
  -ms-transform: translate(654px, 261px);
  -webkit-transform: translate(654px, 261px);
  transform: translate(654px, 261px);
  z-index: 7;
}

/* line 470, ../sass/app.scss */
.step-20 {
  -moz-transform: translate(720px, 304px);
  -ms-transform: translate(720px, 304px);
  -webkit-transform: translate(720px, 304px);
  transform: translate(720px, 304px);
  z-index: 8;
}

/* line 475, ../sass/app.scss */
.step-21 {
  -moz-transform: translate(789px, 347px);
  -ms-transform: translate(789px, 347px);
  -webkit-transform: translate(789px, 347px);
  transform: translate(789px, 347px);
  z-index: 9;
}

/* line 480, ../sass/app.scss */
.step-22 {
  -moz-transform: translate(856px, 306px);
  -ms-transform: translate(856px, 306px);
  -webkit-transform: translate(856px, 306px);
  transform: translate(856px, 306px);
  z-index: 8;
}

/* line 485, ../sass/app.scss */
.step-23 {
  -moz-transform: translate(923px, 261px);
  -ms-transform: translate(923px, 261px);
  -webkit-transform: translate(923px, 261px);
  transform: translate(923px, 261px);
  z-index: 7;
}

/* line 490, ../sass/app.scss */
.step-24 {
  -moz-transform: translate(990px, 218px);
  -ms-transform: translate(990px, 218px);
  -webkit-transform: translate(990px, 218px);
  transform: translate(990px, 218px);
  z-index: 6;
}

/* line 495, ../sass/app.scss */
.step-25 {
  -moz-transform: translate(1056px, 174px);
  -ms-transform: translate(1056px, 174px);
  -webkit-transform: translate(1056px, 174px);
  transform: translate(1056px, 174px);
  z-index: 5;
}

/*
 progress page
*/
/* line 504, ../sass/app.scss */
#progress {
  width: 100%;
  height: 100%;
}

/* line 509, ../sass/app.scss */
#progress .planet {
  margin: 0;
  left: auto;
  top: auto;
}

/* line 515, ../sass/app.scss */
#progress #planet-top {
  left: 40%;
  bottom: -70px;
}

/* line 520, ../sass/app.scss */
#progress #planet-center {
  -moz-animation: rotate 9.5s infinite linear;
  -webkit-animation: rotate 9.5s infinite linear;
  animation: rotate 9.5s infinite linear;
  right: 5%;
  top: 10%;
}

/* line 527, ../sass/app.scss */
#progress #planet-bottom {
  left: -100px;
  bottom: 20%;
}

/* line 532, ../sass/app.scss */
#progress #planet-left {
  left: -500px;
  top: -500px;
}

/* line 539, ../sass/app.scss */
#progress #planet-right {
  right: -300px;
  bottom: -200px;
}
/* line 545, ../sass/app.scss */
#progress #planet-right span {
  -moz-animation: expand 3s ease 1s infinite;
  -webkit-animation: expand 3s ease 1s infinite;
  animation: expand 3s ease 1s infinite;
  width: 500px;
  height: 500px;
  margin: -270px 0 0 -270px;
  border: 20px solid #2d4b64;
}

/* line 556, ../sass/app.scss */
#progress-cont {
  position: absolute;
  top: 0;
  right: 100px;
  bottom: 100px;
  left: 100px;
}

/* line 564, ../sass/app.scss */
#progress #header {
  padding: 20px 0 100px 0;
  text-align: center;
  color: #fff;
}

/* line 570, ../sass/app.scss */
#progress #header .title {
  display: inline-block;
  margin-right: 30px;
  font-size: 50px;
  font-weight: 900;
  font-family: 'Roboto';
}

/* line 578, ../sass/app.scss */
#progress #header .tasks {
  display: inline-block;
  font-size: 50px;
  font-weight: 100;
  color: #fff;
  font-family: 'Roboto';
}

/* line 586, ../sass/app.scss */
#task-list {
  width: 1200px;
  margin: 0 auto;
  font-size: 0;
}

/* line 592, ../sass/app.scss */
#task-list > li {
  height: 160px;
}

/* line 596, ../sass/app.scss */
#task-list > li > .task-title {
  float: left;
  display: table;
  width: 740px;
  height: 82px;
  padding: 10px 20px;
  margin-right: 20px;
  margin-top: -16px;
  border-radius: 30px;
  background: #41436d;
  font-size: 20px;
  color: #fff;
  box-sizing: border-box;
}

/* line 611, ../sass/app.scss */
#task-list > li > .task-title span {
  display: table-cell;
  vertical-align: middle;
}

/* line 616, ../sass/app.scss */
#task-list > li:nth-child(1) > .task-title {
  border: 5px solid #ff217b;
  box-shadow: 0 0 10px 2px rgba(255, 33, 123, 0.7);
}

/* line 621, ../sass/app.scss */
#task-list > li:nth-child(2) > .task-title {
  border: 5px solid #ffd687;
  box-shadow: 0 0 10px 2px rgba(255, 214, 135, 0.7);
}

/* line 626, ../sass/app.scss */
#task-list > li:nth-child(3) > .task-title {
  border: 5px solid #e7ffab;
  box-shadow: 0 0 10px 2px rgba(231, 255, 171, 0.7);
}

/* line 631, ../sass/app.scss */
#task-list > li:nth-child(4) > .task-title {
  border: 5px solid #63ffc3;
  box-shadow: 0 0 10px 2px rgba(99, 255, 195, 0.7);
}

/* line 636, ../sass/app.scss */
#task-list > li:nth-child(5) > .task-title {
  border: 5px solid #bd8fbf;
  box-shadow: 0 0 10px 2px rgba(189, 143, 191, 0.7);
}

/* line 641, ../sass/app.scss */
#task-list > li > ul {
  display: inline-block;
  vertical-align: top;
}

/* line 646, ../sass/app.scss */
#task-list > li > ul > li {
  position: relative;
  display: inline-block;
  width: 128px;
  height: 103px;
  background: url(../images/UFO-mask.png) center bottom no-repeat;
  vertical-align: top;
  font-size: 14px;
  color: #fff;
  text-align: center;
}

/* line 658, ../sass/app.scss */
.member-name {
  position: absolute;
  left: 0;
  bottom: -14px;
  width: 100%;
  font-weight: 300;
  font-family: 'Roboto';
}

/* line 667, ../sass/app.scss */
.avatar-wrap {
  display: inline-block;
  position: absolute;
  top: -14px;
  left: 25px;
  width: 76px;
  height: 78px;
  overflow: hidden;
  border-radius: 35px 35px 17px 17px;
  box-shadow: 0 -5px 5px rgba(255, 255, 255, 0.3), 5px 0 5px rgba(255, 255, 255, 0.3), 0 0 0 rgba(255, 255, 255, 0), -5px 0 5px rgba(255, 255, 255, 0.3);
}

/* line 679, ../sass/app.scss */
.avatar {
  display: inline-block;
  width: 76px;
  height: 100px;
  background: center center no-repeat;
  background-size: cover;
  border-radius: 35px 35px 17px 17px;
}

@-webkit-keyframes expand {
  /* line 690, ../sass/app.scss */
  from {
    opacity: 1;
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  /* line 694, ../sass/app.scss */
  to {
    opacity: 0;
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
}
@-moz-keyframes expand {
  /* line 690, ../sass/app.scss */
  from {
    opacity: 1;
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  /* line 694, ../sass/app.scss */
  to {
    opacity: 0;
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
}
@keyframes expand {
  /* line 690, ../sass/app.scss */
  from {
    opacity: 1;
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  /* line 694, ../sass/app.scss */
  to {
    opacity: 0;
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
}
@-webkit-keyframes glint {
  /* line 702, ../sass/app.scss */
  from {
    box-shadow: 0 0 30px #736b99;
  }

  /* line 706, ../sass/app.scss */
  50% {
    box-shadow: 0 0 0px #fff;
  }

  /* line 710, ../sass/app.scss */
  to {
    box-shadow: 0 0 30px #736b99;
  }
}
@-moz-keyframes glint {
  /* line 702, ../sass/app.scss */
  from {
    box-shadow: 0 0 30px #736b99;
  }

  /* line 706, ../sass/app.scss */
  50% {
    box-shadow: 0 0 0px #fff;
  }

  /* line 710, ../sass/app.scss */
  to {
    box-shadow: 0 0 30px #736b99;
  }
}
@keyframes glint {
  /* line 702, ../sass/app.scss */
  from {
    box-shadow: 0 0 30px #736b99;
  }

  /* line 706, ../sass/app.scss */
  50% {
    box-shadow: 0 0 0px #fff;
  }

  /* line 710, ../sass/app.scss */
  to {
    box-shadow: 0 0 30px #736b99;
  }
}
@-webkit-keyframes rotate {
  /* line 716, ../sass/app.scss */
  from {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 720, ../sass/app.scss */
  to {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes rotate {
  /* line 716, ../sass/app.scss */
  from {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 720, ../sass/app.scss */
  to {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  /* line 716, ../sass/app.scss */
  from {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 720, ../sass/app.scss */
  to {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes floating {
  /* line 727, ../sass/app.scss */
  from {
    -moz-transform: translate(0, -5px);
    -ms-transform: translate(0, -5px);
    -webkit-transform: translate(0, -5px);
    transform: translate(0, -5px);
  }

  /* line 731, ../sass/app.scss */
  65% {
    -moz-transform: translate(0, 5px);
    -ms-transform: translate(0, 5px);
    -webkit-transform: translate(0, 5px);
    transform: translate(0, 5px);
  }

  /* line 735, ../sass/app.scss */
  to {
    -moz-transform: translate(0, -5px);
    -ms-transform: translate(0, -5px);
    -webkit-transform: translate(0, -5px);
    transform: translate(0, -5px);
  }
}
@-moz-keyframes floating {
  /* line 727, ../sass/app.scss */
  from {
    -moz-transform: translate(0, -5px);
    -ms-transform: translate(0, -5px);
    -webkit-transform: translate(0, -5px);
    transform: translate(0, -5px);
  }

  /* line 731, ../sass/app.scss */
  65% {
    -moz-transform: translate(0, 5px);
    -ms-transform: translate(0, 5px);
    -webkit-transform: translate(0, 5px);
    transform: translate(0, 5px);
  }

  /* line 735, ../sass/app.scss */
  to {
    -moz-transform: translate(0, -5px);
    -ms-transform: translate(0, -5px);
    -webkit-transform: translate(0, -5px);
    transform: translate(0, -5px);
  }
}
@keyframes floating {
  /* line 727, ../sass/app.scss */
  from {
    -moz-transform: translate(0, -5px);
    -ms-transform: translate(0, -5px);
    -webkit-transform: translate(0, -5px);
    transform: translate(0, -5px);
  }

  /* line 731, ../sass/app.scss */
  65% {
    -moz-transform: translate(0, 5px);
    -ms-transform: translate(0, 5px);
    -webkit-transform: translate(0, 5px);
    transform: translate(0, 5px);
  }

  /* line 735, ../sass/app.scss */
  to {
    -moz-transform: translate(0, -5px);
    -ms-transform: translate(0, -5px);
    -webkit-transform: translate(0, -5px);
    transform: translate(0, -5px);
  }
}
@-webkit-keyframes meteor-fly {
  /* line 741, ../sass/app.scss */
  from {
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  /* line 745, ../sass/app.scss */
  to {
    -moz-transform: translate(-2500px, 1500px);
    -ms-transform: translate(-2500px, 1500px);
    -webkit-transform: translate(-2500px, 1500px);
    transform: translate(-2500px, 1500px);
  }
}
@-moz-keyframes meteor-fly {
  /* line 741, ../sass/app.scss */
  from {
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  /* line 745, ../sass/app.scss */
  to {
    -moz-transform: translate(-2500px, 1500px);
    -ms-transform: translate(-2500px, 1500px);
    -webkit-transform: translate(-2500px, 1500px);
    transform: translate(-2500px, 1500px);
  }
}
@keyframes meteor-fly {
  /* line 741, ../sass/app.scss */
  from {
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  /* line 745, ../sass/app.scss */
  to {
    -moz-transform: translate(-2500px, 1500px);
    -ms-transform: translate(-2500px, 1500px);
    -webkit-transform: translate(-2500px, 1500px);
    transform: translate(-2500px, 1500px);
  }
}
/* line 750, ../sass/app.scss */
#no-data {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* line 760, ../sass/app.scss */
.rw-sentence-wrap {
  display: table;
  width: 100%;
  height: 100%;
}

/* line 766, ../sass/app.scss */
.rw-sentence {
  color: #FFF;
  text-align: left;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
/* line 773, ../sass/app.scss */
.rw-sentence h2 {
  font-size: 60px;
}

/* line 778, ../sass/app.scss */
.rw-words span {
  display: none;
  position: absolute;
  width: 100%;
  left: 0;
  overflow: hidden;
  color: #fff;
  font-size: 60px;
  font-weight: bold;
}
