@import "compass";

/* replace webikt vendor prefix to @include
-webkit-(.*)?:\s(.*?); -> @include \1(\2);
*/

@mixin keyframes($animation-name) {
    @-webkit-keyframes $animation-name {
        @content;
    }

    @-moz-keyframes $animation-name {
        @content;
    }

    @keyframes $animation-name {
        @content;
    }
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    position: relative;
    overflow: hidden;
    background: #362c53 url(../images/bg-progressbar.jpg) center center no-repeat;
    background-size: cover;
    font: 14px /1.8 "Roboto", "Lantinghei SC", "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.stars,
.meteor,
#planet-top,
#planet-center,
#planet-bottom,
#planet-left,
#planet-right,
#bridge,
.ufo,
.steps {
    position: absolute;
    top: 50%;
    left: 50%;
}

.star-1 {
    // @include animation(glint 7s 1s infinite ease-in-out);

    width: 15px;
    height: 15px;
    margin: -300px 0 0 -160px;
    border-radius: 50%;
    box-shadow: 0 0 30px #fed486;
    background: #fed486;
}

.star-2 {
    // @include animation(glint 7s 2s infinite ease-in-out);

    width: 10px;
    height: 10px;
    margin: -200px 0 0 -220px;
    border-radius: 50%;
    box-shadow: 0 0 30px #ff7977;
    background: #ff7977;
}

.star-3 {
    @include animation(glint 7s 3s infinite ease-in-out);

    width: 20px;
    height: 20px;
    margin: 10px 0 0 -40px;
    border-radius: 50%;
    box-shadow: 0 0 30px #1ad5c8;
    background: #1ad5c8;
}

.star-4 {
    // @include animation(glint 7s 4s infinite ease-in-out);

    width: 15px;
    height: 15px;
    margin: 280px 0 0 -120px;
    border-radius: 50%;
    box-shadow: 0 0 30px #fed486;
    background: #fed486;
}

.star-5 {
    // @include animation(glint 7s 5s infinite ease-in-out);

    width: 17px;
    height: 17px;
    margin: 300px 0 0 480px;
    border-radius: 50%;
    box-shadow: 0 0 30px #ffa284;
    background: #ffa284;
}

.star-6 {
    // @include animation(glint 7s 6s infinite ease-in-out);

    width: 22px;
    height: 22px;
    margin: 290px 0 0 30px;
    border-radius: 50%;
    box-shadow: 0 0 30px #ff227b;
    background: #ff227b;
}

.star-7 {
    // @include animation(glint 7s 7s infinite ease-in-out);

    width: 11px;
    height: 11px;
    margin: 360px 0 0 240px;
    border-radius: 50%;
    box-shadow: 0 0 30px #ffa284;
    background: #ffa284;
}

.star-8 {
    // @include animation(glint 7s 8s infinite ease-in-out);

    width: 26px;
    height: 26px;
    margin: 320px 0 0 -320px;
    border-radius: 50%;
    box-shadow: 0 0 30px #736b99;
    background: #736b99;
}


.meteor {
    @include transform(translate(0, 0));

    width: 261px;
    height: 205px;
    margin: 0;
    background: url(../images/meteor.png) center center no-repeat;
}

.meteor-1 {
    top: -335px;
    right: -261px;
    left: auto;
}

.meteor-2 {
    width: 130px;
    height: 102px;
    top: 0px;
    right: -361px;
    left: auto;
    background-size: cover;
}

.meteor-1.fly {
    @include animation(meteor-fly 12s 1s infinite ease-in-out);
}

.meteor-2.fly {
    @include animation(meteor-fly 9s 5s infinite ease-in-out);
}

#planet-top {
    width: 288px;
    height: 157px;
    margin: -380px 0 0 -180px;
    background: url(../images/planet-top.png) center center no-repeat;
}

#planet-center {
    width: 196px;
    height: 196px;
    margin: -60px 0 0 -10px;
    background: url(../images/planet-center.png) center center no-repeat;
}

#planet-bottom {
    width: 284px;
    height: 216px;
    margin: 240px 0 0 -700px;
    background: url(../images/planet-bottom.png) center center no-repeat;
}

#planet-left {
    width: 928px;
    height: 928px;
    margin: -720px 0 0 -1100px;
    background: url(../images/planet-left.png) center center no-repeat;
}

#planet-right {
    width: 568px;
    height: 568px;
    margin: -280px 0 0 350px;
    background: url(../images/planet-right.png) center center no-repeat;
}

.expand {
    span {
        @include border-radius(500px);
        @include transform(scale(0));
        @include animation(expand 5s ease 0s infinite);

        position: absolute;
        top: 50%;
        left: 50%;
        z-index: -2;
        font-size: 0;
        line-height: 0;
        overflow: hidden;

        &:nth-child(2) {
            @include animation-delay(0.6s);
        }

        &:nth-child(3) {
          @include animation-delay(1.2s);
        }

        &:nth-child(4){
          @include animation-delay(1.8s);
        }
    }
}

#planet-left span {
    width: 800px;
    height: 800px;
    margin: -430px 0 0 -430px;
    border: 30px solid #65376b;
}

#planet-right span {
    @include animation(expand 5s ease 3s infinite);

    width: 500px;
    height: 500px;
    margin: -270px 0 0 -270px;
    border: 20px solid #2d4b64;
}


#bridge {
    width: 1071px;
    height: 518px;
    margin: -159px 0 0 -536px;
    background: url(../images/bridge.png) center center no-repeat;
}


.ufo {
    position: relative;
    width: 184px;
    height: 243px;
    margin: -280px 0 0 -680px;
    background-position: 0 0;
    background-repeat: no-repeat;
    @include transform(translate(0, -5px));
}

.ufo h2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    font-weight: normal;
}

.ufo span {
    position: relative;
    display: inline-block;
    padding: 0 20px;
    background: #fff;
    border-radius: 10px;
    color: #333;
    box-shadow: 0 0 4px rgba(0,0,0, 0.4);
}

// .ufo span:before,
// .ufo span:after {
//     content: '';
//     position: absolute;
//     width: 5px;
//     height: 22px;
//     background: #fff;
// }

.ufo span:before {
    left: 10px;
    top: 100%;
    @include transform(rotate(-30deg));
    @include transform-origin(left top);
}

.ufo span:after {
    right: 10px;
    top: 100%;
    @include transform(rotate(30deg));
    @include transform-origin(right top);
}

.steps {
    @include transform(translate(0, 0));
    @include transition(-webkit-transform 1s);
}


.ufo-1 {
    background-image: url(../images/UFO-1.png);
    @include animation(floating 2s .1s infinite ease-in-out);
    animation: floating 2s .1s infinite ease-in-out
}

.ufo-2 {
    background-image: url(../images/UFO-2.png);
    @include animation(floating 2s .3s infinite ease-in-out);
    animation: floating 2s .2s infinite ease-in-out
}

.ufo-3 {
    background-image: url(../images/UFO-3.png);
    @include animation(floating 2s .5s infinite ease-in-out);
    animation: floating 2s .3s infinite ease-in-out
}

.ufo-4 {
    background-image: url(../images/UFO-4.png);
    @include animation(floating 2s .8s infinite ease-in-out);
    animation: floating 2s .4s infinite ease-in-out
}

.ufo-5 {
    background-image: url(../images/UFO-5.png);
    @include animation(floating 2s 1.2s infinite ease-in-out);
    animation: floating 2s .5s infinite ease-in-out
}

.error-message {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 50px;
    color: #fff;
}

.floating {
    @include animation(floating 2s 1.2s infinite ease-in-out);
    animation: floating 2s .5s infinite ease-in-out
}

.step-0 {
    display: none;
}

.step-1 {
    @include transform(translate(117px, 85px));
    z-index: 3;
}

.step-2 {
    @include transform(translate(184px, 130px));
    z-index: 4;
}

.step-3 {
    @include transform(translate(254px, 175px));
    z-index: 5;
}

.step-4 {
    @include transform(translate(321px, 219px));
    z-index: 6;
}

.step-5 {
    @include transform(translate(389px, 262px));
    z-index: 7;
}

/**/
.step-6 {
    @include transform(translate(453px, 217px));
    z-index: 6;
}

.step-7 {
    @include transform(translate(520px, 175px));
    z-index: 5;
}

.step-8 {
    @include transform(translate(453px, 132px));
    z-index: 4;
}

.step-9 {
    @include transform(translate(386px, 87px));
    z-index: 3;
}

.step-10 {
    @include transform(translate(454px, 42px));
    z-index: 2;
}

.step-11 {
    @include transform(translate(520px, 0px));
    z-index: 1;
}

.step-12 {
    @include transform(translate(590px, -42px));
    z-index: 0;
}

.step-13 {
    @include transform(translate(654px, 0px));
    z-index: 1;
}

.step-14 {
    @include transform(translate(720px, 42px));
    z-index: 2;
}

.step-15 {
    @include transform(translate(789px, 86px));
    z-index: 3;
}

.step-16 {
    @include transform(translate(856px, 129px));
    z-index: 4;
}

.step-17 {
    @include transform(translate(789px, 174px));
    z-index: 5;
}

.step-18 {
    @include transform(translate(720px, 218px));
    z-index: 6;
}

.step-19 {
    @include transform(translate(654px, 261px));
    z-index: 7;
}

.step-20 {
    @include transform(translate(720px, 304px));
    z-index: 8;
}

.step-21 {
    @include transform(translate(789px, 347px));
    z-index: 9;
}

.step-22 {
    @include transform(translate(856px, 306px));
    z-index: 8;
}

.step-23 {
    @include transform(translate(923px, 261px));
    z-index: 7;
}

.step-24 {
    @include transform(translate(990px, 218px));
    z-index: 6;
}

.step-25 {
    @include transform(translate(1056px, 174px));
    z-index: 5;
}


/*
 progress page
*/
#progress {
    width: 100%;
    height: 100%;
}

#progress .planet{
    margin: 0;
    left: auto;
    top: auto;
}

#progress #planet-top {
    left: 40%;
    bottom: -70px;
}

#progress #planet-center {
    @include animation(rotate 9.5s infinite linear);

    right: 5%;
    top: 10%;
}

#progress #planet-bottom {
    left: -100px;
    bottom: 20%;
}

#progress #planet-left {
    // @include animation(rotate 9.5s infinite linear);

    left: -500px;
    top: -500px;
}

#progress #planet-right {
    // @include animation(rotate 9.5s infinite linear);

    right: -300px;
    bottom: -200px;

    span {
        @include animation(expand 3s ease 1s infinite);

        width: 500px;
        height: 500px;
        margin: -270px 0 0 -270px;
        border: 20px solid #2d4b64;
    }
}


#progress-cont {
    position: absolute;
    top: 0;
    right: 100px;
    bottom: 100px;
    left: 100px;
}

#progress #header {
    padding: 20px 0 100px 0;
    text-align: center;
    color: #fff;
}

#progress #header .title {
    display: inline-block;
    margin-right: 30px;
    font-size: 50px;
    font-weight: 900;
    font-family: 'Roboto';
}

#progress #header .tasks {
    display: inline-block;
    font-size: 50px;
    font-weight: 100;
    color: #fff;
    font-family: 'Roboto';
}

#task-list {
    width: 1200px;
    margin: 0 auto;
    font-size: 0;
}

#task-list > li {
    height: 160px;
}

#task-list > li > .task-title{
    float: left;
    display: table;
    width: 740px;
    height: 82px;
    padding: 10px 20px;
    margin-right: 20px;
    margin-top: -16px;
    border-radius: 30px;
    background: #41436d;
    font-size: 20px;
    color: #fff;
    box-sizing: border-box;
}

#task-list > li > .task-title span {
    display: table-cell;
    vertical-align: middle;
}

#task-list > li:nth-child(1) > .task-title {
    border: 5px solid #ff217b;
    box-shadow: 0 0 10px 2px rgba(255, 33, 123, 0.7);
}

#task-list > li:nth-child(2) > .task-title {
    border: 5px solid #ffd687;
    box-shadow: 0 0 10px 2px rgba(255, 214, 135, 0.7);
}

#task-list > li:nth-child(3) > .task-title {
    border: 5px solid #e7ffab;
    box-shadow: 0 0 10px 2px rgba(231, 255, 171, 0.7);
}

#task-list > li:nth-child(4) > .task-title {
    border: 5px solid #63ffc3;
    box-shadow: 0 0 10px 2px rgba(99, 255, 195, 0.7);
}

#task-list > li:nth-child(5) > .task-title {
    border: 5px solid #bd8fbf;
    box-shadow: 0 0 10px 2px rgba(189, 143, 191, 0.7);
}

#task-list > li > ul {
    display: inline-block;
    vertical-align: top;
}

#task-list > li > ul > li {
    position: relative;
    display: inline-block;
    width: 128px;
    height: 103px;
    background: url(../images/UFO-mask.png) center bottom no-repeat;
    vertical-align: top;
    font-size: 14px;
    color: #fff;
    text-align: center;
}

.member-name {
    position: absolute;
    left: 0;
    bottom: -14px;
    width: 100%;
    font-weight: 300;
    font-family: 'Roboto';
}

.avatar-wrap {
    display: inline-block;
    position: absolute;
    top: -14px;
    left: 25px;
    width: 76px;
    height: 78px;
    overflow: hidden;
    border-radius: 35px 35px 17px 17px;
    box-shadow: 0 -5px 5px rgba(255, 255, 255, .3), 5px 0 5px rgba(255, 255, 255, .3), 0 0 0 rgba(255, 255, 255, 0), -5px 0 5px rgba(255, 255, 255, .3);
}

.avatar {
    display: inline-block;
    width: 76px;
    height: 100px;
    background: center center no-repeat;
    background-size: cover;
    border-radius: 35px 35px 17px 17px;
}


@include keyframes(expand) {
    from {
        opacity: 1;
        @include transform(scale(0));
    }
    to {
        opacity: 0;
        @include transform(scale(1.5));
    }
}


@include keyframes(glint) {
    from {
        box-shadow: 0 0 30px #736b99;
    }

    50% {
        box-shadow: 0 0 0px #fff;
    }

    to {
        box-shadow: 0 0 30px #736b99;
    }
}

@include keyframes(rotate) {
    from {
        @include transform(rotate(0deg));
    }

    to {
        @include transform(rotate(360deg));
    }
}


@include keyframes(floating) {
    from {
        @include transform(translate(0, -5px));
    }

    65% {
        @include transform(translate(0, 5px));
    }

    to {
        @include transform(translate(0, -5px));
    }
}

@include keyframes(meteor-fly) {
    from {
        @include transform(translate(0, 0));
    }

    to {
        @include transform(translate(-2500px, 1500px));
    }
}

#no-data {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

// .rw-sentence{
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     width: 800px;
//     height: 432px;
//     margin: -216px 0 0 -400px;
//     color: #fff;
//     text-align: left;
// }
// .rw-sentence span{
//     color: #fff;
//     white-space: nowrap;
//     font-size: 80px;
//     display: table;
//     height: 100%;
//     width: 100%;
// }

.rw-sentence-wrap {
    display: table;
    width: 100%;
    height: 100%;
}

.rw-sentence{
    // margin: -116px 0 0 -400px;
    color: #FFF;
    text-align: left;
    display: table-cell;
    vertical-align: middle;
    text-align: center;

    h2 {
        font-size: 60px;
    }
}

// .rw-words{
//     display: inline;
//     text-indent: 10px;
// }
.rw-words span{
    // @include transform(translate3d(0, 0, 0));
    @include transform(scale(0));

    display: block;
    position: absolute;
    width: 100%;
    overflow: hidden;
    color: #fff;
    font-size: 60px;
    font-weight: bold;
}
.rw-words-1 span{
    @include animation(rotateWordsFirst 15s linear infinite 0s);
}
// .rw-words-2 span{
//     @include animation(rotateWordsSecond 18s linear infinite 0s);
// }

.rw-words span:nth-child(2) {
    @include animation-delay(3s);
}
.rw-words span:nth-child(3) {
    @include animation-delay(6s);
}
.rw-words span:nth-child(4) {
    @include animation-delay(9s);
}
.rw-words span:nth-child(5) {
    @include animation-delay(12s);
}
// .rw-words span:nth-child(6) {
//     @include animation-delay(15s);
// }

@include keyframes(rotateWordsFirst) {
    0% {
        @include animation-timing-function(ease-in);
        @include transform(scale(0));
    }

    8% {
        @include transform(scale(1));
    }

    19% {
        @include transform(scale(1));
    }

    25% {
        @include transform(scale(0));
    }

    100% {
        @include transform(scale(0));
    }
}

